@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.left-bg {
    height: 400px;
    width: 700px;
    margin-top: -100px;
    margin-left: -250px;
}

.right-bg {
    height: 120vh;
    width: 100%;
    margin-top: -200px;
    margin-left: 600px;
    background: linear-gradient(-45deg, transparent 300px, rgb(var(--background2)) 0);
}

.right-bg2 {
    height: 60%;
    width: 200%;
    margin-top: -200px;
    margin-left: -150px;
    background: linear-gradient(45deg, transparent 400px, rgb(var(--background2)) 0);
}

:root {
    --primary: 99, 171, 169;
    --background1: 255, 255, 255;
    --background2: 236, 236, 236;
    --text: 0, 0, 0;
    --accent: 76, 73, 76;
}

.dark {
    --primary: 67, 124, 124;
    --background2: 44, 44, 50;
    --background1: 33, 33, 38;
    --text: 255, 255, 255;
    --accent: 76, 73, 76;
}

/* @keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    } to {
        opacity: 1;
        scale: 1;
    }
}

.projects {
    opacity: 0;
    scale: 0.5;
    transition: all 0.6s ease-out;

    position: relative;
    min-height: 100vh;
    width: 100%;
}

@supports (animation-timeline: view()) {
    .projects {
        animation: appear linear;
        animation-timeline: view();
        animation-range: entry 0% cover 40%;
        animation-duration: 2ms;
        opacity: 1;
        scale: 1;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .projects {
        opacity: 1;
        scale: 1;
        transition: all 0.6s ease-out;
    }
} */

/* .box {
    animation: scrollAnimation;
    animation-timeline: view(40%);
}

@keyframes scrollAnimation {
   from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
   } 
   to {
    opacity: 1;
    transform: translateY(0) scale(1);
   }
} */