@tailwind base;
@tailwind components;
@tailwind utilities;

.left-bg {
    height: 400px;
    width: 700px;
    margin-top: -100px;
    margin-left: -250px;
}

.right-bg {
    height: 120vh;
    width: 100%;
    margin-top: -200px;
    margin-left: 600px;
}

.right-bg2 {
    height: 60%;
    width: 200%;
    margin-top: -200px;
    margin-left: -150px;
}

:root {
    --primary: 99, 171, 169;
    --background1: 255, 255, 255;
    --background2: 236, 236, 236;
    --text: 0, 0, 0;
    --accent: 76, 73, 76;
}

.dark {
    --primary: 67, 124, 124;
    --background2: 44, 44, 50;
    --background1: 33, 33, 38;
    --text: 255, 255, 255;
    --accent: 76, 73, 76;
}
        